<div class="container">
    <div class="content">
        <div class="title"><h1>Hola mundo</h1></div>
        <br>
        <div class="text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad quos placeat suscipit veritatis veniam, alias nam error!</p>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos saepe culpa nam natus blanditiis ex ipsum, ut facilis delectus deserunt itaque maxime consectetur sequi provident libero debitis nisi, dolor consequatur?</p>
        </div>
    </div>
</div>